
Assignment_4/Datasets/csv/dataset1.csv
Assignment_4/Datasets/csv/dataset2.csv
Assignment_4/Datasets/csv/dataset3.csv
Assignment_4/Datasets/csv/test_nomnist.csv
Assignment_4/Datasets/csv/test_spam.csv
Assignment_4/Datasets/csv/train_nomnist.csv
Assignment_4/Datasets/csv/train_spam.csv
Assignment_4/Datasets/dat/test_nomnist.dat
Assignment_4/Datasets/dat/test_spam.dat
Assignment_4/Datasets/dat/train_nomnist.dat
Assignment_4/Datasets/dat/train_spam.dat
Assignment_4/test_y.csv
Assignment_4/train_y.csv
Assignment_4/vocab.txt
